@import "tailwindcss";

.title {
  font-family: "Josefin Slab", serif;
  font-weight: bold;

}

.under-title {
  font-family: "Quattrocento Sans", sans-serif;
  
}

.fenetre {
  position: absolute;
  align-items: center ;
  display: flex;
  flex-direction: column;
  font-size: 0,5rem;
  gap: 32px;
  width: 10%;
  height: 100%;
  left: 0%;
  z-index: 1;
}

.link.active::after{
  width: 100%;
}

.nav-link{
  position: relative;
  text-decoration: none;
  
}

.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: white;
  transition: width 0.3s ease;

}

.nav-link:hover::after{
  width: 100%;
}

.nav-link.link.active::after{
  width: 100%;
}